# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and package
dist/
.vite/

# Env
.env
.env.local

# Logs
*.log

# Local storage keys used by app during development
lms_users
lms_books
lms_loans
lms_filters
lms_current_user
lms_last_clear

public/assets/
